body{ 
    font-size: 35px; 
 background-color: white; 
} 
* { 
 box-sizing: border-box; 
 color: black; 
} 
 
#wrapper { 
 width: 1890px; 
 margin: 30px auto; 
 border: 4px solid rgb(119, 128, 151); 
} 
#header { 
 height: 250px; 
 padding: 20px; 
 border: 4px solid rgb(119, 128, 151); 
 text-align: center; 
} 
 
#header > img{ 
    width: 80%; 
 height: 100%; 
} 
#film { 
    display: grid;
  grid-template-columns: repeat(5, 1fr);  
  width: 1920px;
  padding: 20px;
  border: 4px solid black;
} 
 
#footer { 
 height: 150px; 
 padding: 20px; 
 border: black; 
 text-align: center; 
} 
.film { 
    display: flex; 
    text-align: center; 
    border-radius: 5%; 
	border: 4px solid black; 
    flex-direction: column; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
} 
 
.foto > img{ 
 height: 100%; 
    width: 100%;  
} 
.film:hover > .foto>img{ 
 width:50%; 
 height:100%; 
} 
.opisanie{ 
 font-size: 25px; 
}